<section>
    <div class="form-container">
        <mat-card>
            <mat-card-header>
                Recommended parameters
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        Dencity: {{ dencityOptions[2].displayValue || '' }}
                    </mat-list-item>
                    <mat-list-item>
                        Time: 30 seconds
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <form action="" [formGroup]="form">
            <mat-form-field>
                <mat-label>Dencity</mat-label>
                <mat-select formControlName="dencity">
                    @for (option of dencityOptions; track option) {
                    <mat-option [value]="option.value">{{ option.displayValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Time</mat-label>
                <input matInput type="number" formControlName="time" />
                @if (form.get('time')) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="resetTime()">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>
        </form>
        <button mat-fab extended
            [disabled]="!communicationService.isLogged.value || !communicationService.username.value || !resultImages.length"
            (click)="saveResults()">
            <mat-icon>save</mat-icon>
            Save results
        </button>
        <button mat-fab extended [disabled]="startButtonDisabled" (click)="getForm()">
            <mat-icon>rocket</mat-icon>
            Start simulation
        </button>
    </div>
    @if (isLoading) {
    <mat-spinner></mat-spinner>
    }
    <div class="results-container">
        @if (resultImages.length) {
        <app-result-item [isResult]="false" [pictureName]="'map.bmp'">
        </app-result-item>
        }

        @for (image of resultImages; track image;) {
        <app-result-item [pictureName]="image" [result]="data" [index]="$index">

        </app-result-item>
        }
    </div>


</section>