section {
    background-color: burlywood;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}